#d-pad-container {
    display: flex;
    justify-content: center;
}
#drawing-pad {
    position: relative;
    width: 600px;
    height: 600px;
    background-color: lightgray;
}

#tool-container {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: blue;
}

.shape {
    position: absolute;
}


.sidePanel {
    height: 600px; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 138px;
    left: 1078px;
    background-color: lightgrey;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 1s; /* 1 second transition effect to slide in the sidepanel */
}

.sidePanel p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}



    